In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('liptint.csv')

In [2]:
df.shape

(13, 5)

In [3]:
kolom_C1 = df['C1']
kolom_C2 = df['C2']
kolom_C3 = df['C3']
kolom_C4 = df['C4']
kolom_C5 = df['C5']

kolom_C1
kolom_C2
kolom_C3
kolom_C4
kolom_C5

0     2
1     3
2     2
3     3
4     1
5     2
6     3
7     3
8     2
9     3
10    2
11    3
12    3
Name: C5, dtype: int64

In [4]:
geometric_C1 = np.prod(kolom_C1) ** (1/len(kolom_C1))
geometric_C1

1.6305727908424619

In [5]:
geometric_C2 = np.prod(kolom_C2) ** (1/len(kolom_C2))
geometric_C2

2.8185795186937814

In [6]:
geometric_C3 = np.prod(kolom_C3) ** (1/len(kolom_C3))
geometric_C3

2.036571277683617

In [7]:
geometric_C4 = np.prod(kolom_C4) ** (1/len(kolom_C4))
geometric_C4

1.7043607928571491

In [8]:
geometric_C5 = np.prod(kolom_C5) ** (1/len(kolom_C5))
geometric_C5

2.3588059381234885

In [9]:
df

    C1  C2  C3  C4  C5
0    1   3   3   2   2
1    3   3   3   2   3
2    3   3   2   2   2
3    2   2   2   2   3
4    2   3   1   2   1
5    2   3   3   2   2
6    1   3   2   2   3
7    1   2   2   2   3
8    1   3   2   1   2
9    2   3   2   1   3
10   2   3   2   1   2
11   2   3   1   2   3
12   1   3   3   2   3

In [10]:
# df = df.drop('C1_process', axis=1)
# df = df.drop('C1_si', axis=1)
# df = df.drop('C2_si', axis=1)

In [11]:
# print(df)

In [12]:
df['C1_si'] = 5 + (0.5 * df['C1'])
df['C2_si'] = 5 + (0.5 * df['C2'])
df['C3_si'] = 5 + (0.5 * df['C3'])
df['C4_si'] = 5 + (0.5 * df['C4'])
df['C5_si'] = 5 + (0.5 * df['C5'])
print(df)

    C1  C2  C3  C4  C5  C1_si  C2_si  C3_si  C4_si  C5_si
0    1   3   3   2   2    5.5    6.5    6.5    6.0    6.0
1    3   3   3   2   3    6.5    6.5    6.5    6.0    6.5
2    3   3   2   2   2    6.5    6.5    6.0    6.0    6.0
3    2   2   2   2   3    6.0    6.0    6.0    6.0    6.5
4    2   3   1   2   1    6.0    6.5    5.5    6.0    5.5
5    2   3   3   2   2    6.0    6.5    6.5    6.0    6.0
6    1   3   2   2   3    5.5    6.5    6.0    6.0    6.5
7    1   2   2   2   3    5.5    6.0    6.0    6.0    6.5
8    1   3   2   1   2    5.5    6.5    6.0    5.5    6.0
9    2   3   2   1   3    6.0    6.5    6.0    5.5    6.5
10   2   3   2   1   2    6.0    6.5    6.0    5.5    6.0
11   2   3   1   2   3    6.0    6.5    5.5    6.0    6.5
12   1   3   3   2   3    5.5    6.5    6.5    6.0    6.5

In [13]:
# def perhitungan_matix(row):
#     if row['C1_si'] == 5:
#         return abs((1 + df['C1_si'] + df['C1_si'])/(1+df['C1_si']))
#     elif row['C2_si'] == 6.5:
#         return 0
    
# df['custom_count_result'] = df.apply(lambda row: custom_count(row), axis=1)

# # Display the updated DataFrame with the new column
# print(df)

In [14]:
df['C1_matrix_sejajar'] = abs((1 + df['C1_si'] + df['C1_si'])/(1+df['C1_si']))
df['C2_matrix_sejajar'] = abs((1 + df['C2_si'] + df['C2_si'])/(1+df['C2_si']))
df['C3_matrix_sejajar'] = abs((1 + df['C3_si'] + df['C3_si'])/(1+df['C3_si']))
df['C4_matrix_sejajar'] = abs((1 + df['C4_si'] + df['C4_si'])/(1+df['C4_si']))
df['C5_matrix_sejajar'] = abs((1 + df['C5_si'] + df['C5_si'])/(1+df['C5_si']))

print(df)

    C1  C2  C3  C4  C5  C1_si  C2_si  C3_si  C4_si  C5_si  C1_matrix_sejajar  \
0    1   3   3   2   2    5.5    6.5    6.5    6.0    6.0           1.846154
1    3   3   3   2   3    6.5    6.5    6.5    6.0    6.5           1.866667
2    3   3   2   2   2    6.5    6.5    6.0    6.0    6.0           1.866667
3    2   2   2   2   3    6.0    6.0    6.0    6.0    6.5           1.857143
4    2   3   1   2   1    6.0    6.5    5.5    6.0    5.5           1.857143
5    2   3   3   2   2    6.0    6.5    6.5    6.0    6.0           1.857143
6    1   3   2   2   3    5.5    6.5    6.0    6.0    6.5           1.846154
7    1   2   2   2   3    5.5    6.0    6.0    6.0    6.5           1.846154
8    1   3   2   1   2    5.5    6.5    6.0    5.5    6.0           1.846154
9    2   3   2   1   3    6.0    6.5    6.0    5.5    6.5           1.857143
10   2   3   2   1   2    6.0    6.5    6.0    5.5    6.0           1.857143
11   2   3   1   2   3    6.0    6.5    5.5    6.0    6.5           1.857143
12   1   3   3   2   3    5.5    6.5    6.5    6.0    6.5           1.846154

    C2_matrix_sejajar  C3_matrix_sejajar  C4_matrix_sejajar  C5_matrix_sejajar
0            1.866667           1.866667           1.857143           1.857143
1            1.866667           1.866667           1.857143           1.866667
2            1.866667           1.857143           1.857143           1.857143
3            1.857143           1.857143           1.857143           1.866667
4            1.866667           1.846154           1.857143           1.846154
5            1.866667           1.866667           1.857143           1.857143
6            1.866667           1.857143           1.857143           1.866667
7            1.857143           1.857143           1.857143           1.866667
8            1.866667           1.857143           1.846154           1.857143
9            1.866667           1.857143           1.846154           1.866667
10           1.866667           1.857143           1.846154           1.857143
11           1.866667           1.846154           1.857143           1.866667
12           1.866667           1.866667           1.857143           1.866667

In [15]:
# # df = df.drop('alpha_i', axis=1)
df['alpha_i'] = (df[['C1_matrix_sejajar', 'C2_matrix_sejajar', 'C3_matrix_sejajar', 'C4_matrix_sejajar', 'C5_matrix_sejajar']].sum(axis=1)) / 5

# Display the updated DataFrame with the new columns
print(df)

    C1  C2  C3  C4  C5  C1_si  C2_si  C3_si  C4_si  C5_si  C1_matrix_sejajar  \
0    1   3   3   2   2    5.5    6.5    6.5    6.0    6.0           1.846154
1    3   3   3   2   3    6.5    6.5    6.5    6.0    6.5           1.866667
2    3   3   2   2   2    6.5    6.5    6.0    6.0    6.0           1.866667
3    2   2   2   2   3    6.0    6.0    6.0    6.0    6.5           1.857143
4    2   3   1   2   1    6.0    6.5    5.5    6.0    5.5           1.857143
5    2   3   3   2   2    6.0    6.5    6.5    6.0    6.0           1.857143
6    1   3   2   2   3    5.5    6.5    6.0    6.0    6.5           1.846154
7    1   2   2   2   3    5.5    6.0    6.0    6.0    6.5           1.846154
8    1   3   2   1   2    5.5    6.5    6.0    5.5    6.0           1.846154
9    2   3   2   1   3    6.0    6.5    6.0    5.5    6.5           1.857143
10   2   3   2   1   2    6.0    6.5    6.0    5.5    6.0           1.857143
11   2   3   1   2   3    6.0    6.5    5.5    6.0    6.5           1.857143
12   1   3   3   2   3    5.5    6.5    6.5    6.0    6.5           1.846154

    C2_matrix_sejajar  C3_matrix_sejajar  C4_matrix_sejajar  \
0            1.866667           1.866667           1.857143
1            1.866667           1.866667           1.857143
2            1.866667           1.857143           1.857143
3            1.857143           1.857143           1.857143
4            1.866667           1.846154           1.857143
5            1.866667           1.866667           1.857143
6            1.866667           1.857143           1.857143
7            1.857143           1.857143           1.857143
8            1.866667           1.857143           1.846154
9            1.866667           1.857143           1.846154
10           1.866667           1.857143           1.846154
11           1.866667           1.846154           1.857143
12           1.866667           1.866667           1.857143

    C5_matrix_sejajar   alpha_i
0            1.857143  1.858755
1            1.866667  1.864762
2            1.857143  1.860952
3            1.866667  1.859048
4            1.846154  1.854652
5            1.857143  1.860952
6            1.866667  1.858755
7            1.866667  1.856850
8            1.857143  1.854652
9            1.866667  1.858755
10           1.857143  1.856850
11           1.866667  1.858755
12           1.866667  1.860659

In [16]:
import math

# df['alpha_i_sqrt'] = math.sqrt(df['alpha_i'], axis=1)
df['alpha_i_sqrt'] = df['alpha_i'].apply(lambda x: math.sqrt(x))
print(df)

    C1  C2  C3  C4  C5  C1_si  C2_si  C3_si  C4_si  C5_si  C1_matrix_sejajar  \
0    1   3   3   2   2    5.5    6.5    6.5    6.0    6.0           1.846154
1    3   3   3   2   3    6.5    6.5    6.5    6.0    6.5           1.866667
2    3   3   2   2   2    6.5    6.5    6.0    6.0    6.0           1.866667
3    2   2   2   2   3    6.0    6.0    6.0    6.0    6.5           1.857143
4    2   3   1   2   1    6.0    6.5    5.5    6.0    5.5           1.857143
5    2   3   3   2   2    6.0    6.5    6.5    6.0    6.0           1.857143
6    1   3   2   2   3    5.5    6.5    6.0    6.0    6.5           1.846154
7    1   2   2   2   3    5.5    6.0    6.0    6.0    6.5           1.846154
8    1   3   2   1   2    5.5    6.5    6.0    5.5    6.0           1.846154
9    2   3   2   1   3    6.0    6.5    6.0    5.5    6.5           1.857143
10   2   3   2   1   2    6.0    6.5    6.0    5.5    6.0           1.857143
11   2   3   1   2   3    6.0    6.5    5.5    6.0    6.5           1.857143
12   1   3   3   2   3    5.5    6.5    6.5    6.0    6.5           1.846154

    C2_matrix_sejajar  C3_matrix_sejajar  C4_matrix_sejajar  \
0            1.866667           1.866667           1.857143
1            1.866667           1.866667           1.857143
2            1.866667           1.857143           1.857143
3            1.857143           1.857143           1.857143
4            1.866667           1.846154           1.857143
5            1.866667           1.866667           1.857143
6            1.866667           1.857143           1.857143
7            1.857143           1.857143           1.857143
8            1.866667           1.857143           1.846154
9            1.866667           1.857143           1.846154
10           1.866667           1.857143           1.846154
11           1.866667           1.846154           1.857143
12           1.866667           1.866667           1.857143

    C5_matrix_sejajar   alpha_i  alpha_i_sqrt
0            1.857143  1.858755      1.363361
1            1.866667  1.864762      1.365563
2            1.857143  1.860952      1.364167
3            1.866667  1.859048      1.363469
4            1.846154  1.854652      1.361856
5            1.857143  1.860952      1.364167
6            1.866667  1.858755      1.363361
7            1.866667  1.856850      1.362663
8            1.857143  1.854652      1.361856
9            1.866667  1.858755      1.363361
10           1.857143  1.856850      1.362663
11           1.866667  1.858755      1.363361
12           1.866667  1.860659      1.364060

In [17]:
columns_of_interest = ['C1', 'C2', 'C3', 'C4', 'C5']
row_sum_alpha_sqrt = df['alpha_i_sqrt'].sum()
penyebut = 1/row_sum_alpha_sqrt
df['agregat_alternatif'] = 0

for index, row in df.iterrows():
    elements = []  # Create an empty list to store the elements for each row
    sum_of_row = 0  # Initialize a variable to store the sum of the elements in each row

    for column in columns_of_interest:
        element = row[column]
        elements.append(element ** row_sum_alpha_sqrt)  # Multiply each element by 2 and add it to the list
        sum_of_row = sum(elements)  # Add each element to the sum
        
    result= sum_of_row ** penyebut
    df.at[index, 'agregat_alternatif'] = result
    
print(df)
#     print (penyebut)
#     print(f"Row {index}: Doubled Elements: {elements}, Sum: {sum_of_row}, hasil: {result}")

    C1  C2  C3  C4  C5  C1_si  C2_si  C3_si  C4_si  C5_si  C1_matrix_sejajar  \
0    1   3   3   2   2    5.5    6.5    6.5    6.0    6.0           1.846154
1    3   3   3   2   3    6.5    6.5    6.5    6.0    6.5           1.866667
2    3   3   2   2   2    6.5    6.5    6.0    6.0    6.0           1.866667
3    2   2   2   2   3    6.0    6.0    6.0    6.0    6.5           1.857143
4    2   3   1   2   1    6.0    6.5    5.5    6.0    5.5           1.857143
5    2   3   3   2   2    6.0    6.5    6.5    6.0    6.0           1.857143
6    1   3   2   2   3    5.5    6.5    6.0    6.0    6.5           1.846154
7    1   2   2   2   3    5.5    6.0    6.0    6.0    6.5           1.846154
8    1   3   2   1   2    5.5    6.5    6.0    5.5    6.0           1.846154
9    2   3   2   1   3    6.0    6.5    6.0    5.5    6.5           1.857143
10   2   3   2   1   2    6.0    6.5    6.0    5.5    6.0           1.857143
11   2   3   1   2   3    6.0    6.5    5.5    6.0    6.5           1.857143
12   1   3   3   2   3    5.5    6.5    6.5    6.0    6.5           1.846154

    C2_matrix_sejajar  C3_matrix_sejajar  C4_matrix_sejajar  \
0            1.866667           1.866667           1.857143
1            1.866667           1.866667           1.857143
2            1.866667           1.857143           1.857143
3            1.857143           1.857143           1.857143
4            1.866667           1.846154           1.857143
5            1.866667           1.866667           1.857143
6            1.866667           1.857143           1.857143
7            1.857143           1.857143           1.857143
8            1.866667           1.857143           1.846154
9            1.866667           1.857143           1.846154
10           1.866667           1.857143           1.846154
11           1.866667           1.846154           1.857143
12           1.866667           1.866667           1.857143

    C5_matrix_sejajar   alpha_i  alpha_i_sqrt  agregat_alternatif
0            1.857143  1.858755      1.363361            3.119782
1            1.866667  1.864762      1.365563            3.244103
2            1.857143  1.860952      1.364167            3.119848
3            1.866667  1.859048      1.363469            3.000512
4            1.846154  1.854652      1.361856            3.000256
5            1.857143  1.860952      1.364167            3.119848
6            1.866667  1.858755      1.363361            3.119782
7            1.866667  1.856850      1.362663            3.000384
8            1.857143  1.854652      1.361856            3.000256
9            1.866667  1.858755      1.363361            3.119782
10           1.857143  1.856850      1.362663            3.000384
11           1.866667  1.858755      1.363361            3.119782
12           1.866667  1.860659      1.364060            3.191884

C:\Users\hp\AppData\Local\Temp\ipykernel_11296\3261596587.py:16: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '3.119781602155234' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, 'agregat_alternatif'] = result

In [18]:
columns_of_interest = ['agregat_alternatif']
row_sum_agregat_alternatif = df['agregat_alternatif'].sum()

df['bobot_rank'] = 0

for index, row in df.iterrows():
    element = row['agregat_alternatif']
    bobot_rank = row_sum_agregat_alternatif/element
    
    df.at[index, 'bobot_rank'] = bobot_rank

#     print(f"Row {index}: {element}, hasil: {bobot_rank}")

C:\Users\hp\AppData\Local\Temp\ipykernel_11296\1474799461.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '12.871606571880541' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, 'bobot_rank'] = bobot_rank

In [19]:
df['rank'] = df['bobot_rank'].rank()
print(df)

    C1  C2  C3  C4  C5  C1_si  C2_si  C3_si  C4_si  C5_si  C1_matrix_sejajar  \
0    1   3   3   2   2    5.5    6.5    6.5    6.0    6.0           1.846154
1    3   3   3   2   3    6.5    6.5    6.5    6.0    6.5           1.866667
2    3   3   2   2   2    6.5    6.5    6.0    6.0    6.0           1.866667
3    2   2   2   2   3    6.0    6.0    6.0    6.0    6.5           1.857143
4    2   3   1   2   1    6.0    6.5    5.5    6.0    5.5           1.857143
5    2   3   3   2   2    6.0    6.5    6.5    6.0    6.0           1.857143
6    1   3   2   2   3    5.5    6.5    6.0    6.0    6.5           1.846154
7    1   2   2   2   3    5.5    6.0    6.0    6.0    6.5           1.846154
8    1   3   2   1   2    5.5    6.5    6.0    5.5    6.0           1.846154
9    2   3   2   1   3    6.0    6.5    6.0    5.5    6.5           1.857143
10   2   3   2   1   2    6.0    6.5    6.0    5.5    6.0           1.857143
11   2   3   1   2   3    6.0    6.5    5.5    6.0    6.5           1.857143
12   1   3   3   2   3    5.5    6.5    6.5    6.0    6.5           1.846154

    C2_matrix_sejajar  C3_matrix_sejajar  C4_matrix_sejajar  \
0            1.866667           1.866667           1.857143
1            1.866667           1.866667           1.857143
2            1.866667           1.857143           1.857143
3            1.857143           1.857143           1.857143
4            1.866667           1.846154           1.857143
5            1.866667           1.866667           1.857143
6            1.866667           1.857143           1.857143
7            1.857143           1.857143           1.857143
8            1.866667           1.857143           1.846154
9            1.866667           1.857143           1.846154
10           1.866667           1.857143           1.846154
11           1.866667           1.846154           1.857143
12           1.866667           1.866667           1.857143

    C5_matrix_sejajar   alpha_i  alpha_i_sqrt  agregat_alternatif  bobot_rank  \
0            1.857143  1.858755      1.363361            3.119782   12.871607
1            1.866667  1.864762      1.365563            3.244103   12.378336
2            1.857143  1.860952      1.364167            3.119848   12.871332
3            1.866667  1.859048      1.363469            3.000512   13.383251
4            1.846154  1.854652      1.361856            3.000256   13.384392
5            1.857143  1.860952      1.364167            3.119848   12.871332
6            1.866667  1.858755      1.363361            3.119782   12.871607
7            1.866667  1.856850      1.362663            3.000384   13.383821
8            1.857143  1.854652      1.361856            3.000256   13.384392
9            1.866667  1.858755      1.363361            3.119782   12.871607
10           1.857143  1.856850      1.362663            3.000384   13.383821
11           1.866667  1.858755      1.363361            3.119782   12.871607
12           1.866667  1.860659      1.364060            3.191884   12.580847

    rank
0    6.5
1    1.0
2    3.5
3    9.0
4   12.5
5    3.5
6    6.5
7   10.5
8   12.5
9    6.5
10  10.5
11   6.5
12   2.0

In [20]:
#convert to int
df['rank'] = df['rank'].astype(int)
print(df)

    C1  C2  C3  C4  C5  C1_si  C2_si  C3_si  C4_si  C5_si  C1_matrix_sejajar  \
0    1   3   3   2   2    5.5    6.5    6.5    6.0    6.0           1.846154
1    3   3   3   2   3    6.5    6.5    6.5    6.0    6.5           1.866667
2    3   3   2   2   2    6.5    6.5    6.0    6.0    6.0           1.866667
3    2   2   2   2   3    6.0    6.0    6.0    6.0    6.5           1.857143
4    2   3   1   2   1    6.0    6.5    5.5    6.0    5.5           1.857143
5    2   3   3   2   2    6.0    6.5    6.5    6.0    6.0           1.857143
6    1   3   2   2   3    5.5    6.5    6.0    6.0    6.5           1.846154
7    1   2   2   2   3    5.5    6.0    6.0    6.0    6.5           1.846154
8    1   3   2   1   2    5.5    6.5    6.0    5.5    6.0           1.846154
9    2   3   2   1   3    6.0    6.5    6.0    5.5    6.5           1.857143
10   2   3   2   1   2    6.0    6.5    6.0    5.5    6.0           1.857143
11   2   3   1   2   3    6.0    6.5    5.5    6.0    6.5           1.857143
12   1   3   3   2   3    5.5    6.5    6.5    6.0    6.5           1.846154

    C2_matrix_sejajar  C3_matrix_sejajar  C4_matrix_sejajar  \
0            1.866667           1.866667           1.857143
1            1.866667           1.866667           1.857143
2            1.866667           1.857143           1.857143
3            1.857143           1.857143           1.857143
4            1.866667           1.846154           1.857143
5            1.866667           1.866667           1.857143
6            1.866667           1.857143           1.857143
7            1.857143           1.857143           1.857143
8            1.866667           1.857143           1.846154
9            1.866667           1.857143           1.846154
10           1.866667           1.857143           1.846154
11           1.866667           1.846154           1.857143
12           1.866667           1.866667           1.857143

    C5_matrix_sejajar   alpha_i  alpha_i_sqrt  agregat_alternatif  bobot_rank  \
0            1.857143  1.858755      1.363361            3.119782   12.871607
1            1.866667  1.864762      1.365563            3.244103   12.378336
2            1.857143  1.860952      1.364167            3.119848   12.871332
3            1.866667  1.859048      1.363469            3.000512   13.383251
4            1.846154  1.854652      1.361856            3.000256   13.384392
5            1.857143  1.860952      1.364167            3.119848   12.871332
6            1.866667  1.858755      1.363361            3.119782   12.871607
7            1.866667  1.856850      1.362663            3.000384   13.383821
8            1.857143  1.854652      1.361856            3.000256   13.384392
9            1.866667  1.858755      1.363361            3.119782   12.871607
10           1.857143  1.856850      1.362663            3.000384   13.383821
11           1.866667  1.858755      1.363361            3.119782   12.871607
12           1.866667  1.860659      1.364060            3.191884   12.580847

    rank
0      6
1      1
2      3
3      9
4     12
5      3
6      6
7     10
8     12
9      6
10    10
11     6
12     2